<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Street Sweep | Create a Sweeper</title>
    <link rel="stylesheet" href="foundation/css/foundation.css" />
    <script src="foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Create a Bounty</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="callout panel">
          <form>
            <div class="row">
              <div class="large-6 columns">
                <label>Task Name
                  <input type="text" placeholder="OMFG ITS SO DIRTY" />
                </label>
              </div>
              <div class="large-6 columns">
                <label>Task Type
                  <select>
                    <option value="Trash">Trash Pickup</option>
                    <option value="Graffiti">Graffiti Cleanup</option>
                    <option value="Gutter">Gutter Clearing</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Task Description
                  <textarea placeholder="In front of 207 there are a shit tonne of beer bottles"></textarea>
                </label>
              </div>
            </div>
            <div class="large-12 columns"> 
              <!-- Put the map here!!! -->
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
